<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989152477613-0eniir2828a8a68pqn9cguhkf21pu50c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989152477613-0eniir2828a8a68pqn9cguhkf21pu50c</string>
	<key>API_KEY</key>
	<string>AIzaSyBFJLld8r7X-IMcrTft7ojdmQhKd-J6P44</string>
	<key>GCM_SENDER_ID</key>
	<string>989152477613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driver</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-114b0</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-114b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989152477613:ios:8e5c5c4fa3791a671e6124</string>
</dict>
</plist>